

<div class="jumbotron">
	<div class="col2">
		<h1>BIENVENIDO</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quasi eligendi voluptate iusto nisi at, distinctio ipsam ea ducimus quo modi, numquam autem dolor maxime. Nesciunt, nemo, impedit. Dolorem, quo.</p>
		</div>
		<div class="col">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quasi eligendi voluptate iusto nisi at, distinctio ipsam ea ducimus quo modi, numquam autem dolor maxime. Nesciunt, nemo, impedit. Dolorem, quo.</p>
		</div>
		<div class="col">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quasi eligendi voluptate iusto nisi at, distinctio ipsam ea ducimus quo modi, numquam autem dolor maxime. Nesciunt, nemo, impedit. Dolorem, quo.</p>
		</div>
	</div>
</div>